#main-content {
  padding: 40px;
  font-size: 20px;
}

.train {
  position: absolute;
  bottom: 10px;
  left: -100px;
  animation: moveTrain 10s linear infinite;
}

@keyframes moveTrain {
  from { left: -200px; }
  to { left: 110%; }
}
