#main-content {
  padding: 40px;
  font-size: 20px;
}

.train-container {
  bottom: 10px;
  left: -100px;
  animation: moveTrain 10s linear infinite;
}

#train-tgv {
  padding-top: 50px;
}

@keyframes moveTrain {
  from { left: -200px; }
  to { left: 110%; }
}
