#main-content { 
    padding-top: 100px;
}

#Bombay_PPP {
    border: none;
    overflow: hidden;
    width: 80%;
    height: 80vh;
}

button {
  background-color: #dcdcdc;
  border: 2px solid #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  padding: 6px 12px;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  color: black;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #555;
  cursor: pointer;
}

button:hover {
  background-color: #e9e9e9;
}

button:active {
  border-top-color: #888;
  border-left-color: #888;
  border-right-color: #fff;
  border-bottom-color: #fff;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #555;
}
button span {
  position: relative;
  top: 0;
  transition: top 0.05s;
}
button:active span {
  top: 2px;
}
