@font-face {
  font-family: 'abduction2002';
  src: url('/0scr/Fonts/abduction2002.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('/0scr/Fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1d1d1d;
}

#main-content {
  padding-top: 100px;
}

.bombay-embed {
  width: 100%;
  max-width: 1100px;
  height: 600px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
}

#main-content button {
  background-color: #dcdcdc;
  border: 2px solid #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  padding: 6px 12px;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  color: black;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #555;
  cursor: pointer;
  font-family: 'abduction2002';
}

#main-content button:hover {
  background-color: #e9e9e9;
}

#main-content button:active {
  border-top-color: #888;
  border-left-color: #888;
  border-right-color: #fff;
  border-bottom-color: #fff;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #555;
}

#main-content button span {
  position: relative;

}

#main-content button:active span {
  top: 2px;
  left: 1px;
}

#load-ppt span::after {
  content: "Load presentation";
}

#load-ppt.active span::after {
  content: "Unload presentation";
}





.musicplayer#chiptuneplayer {
  height: 200px;
  width: 700px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 4px;
  border-color: #a3a3a7 #363636 #2e2e2e #949497;
  background-color: #505050;
  margin: 0 auto;
  position: relative;
  font-family: 'PressStart2P-Regular';
  font-size: 20px;
}

#volume {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#volume button {
  width: 70px;
  height: 30px;
  text-align: top;
}

.control#play span::after {
  content: "play";
}

.control#pause span::after {
  content: "pause";
}

#seekbar-container {
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  left: 15px;
  right: 15px;
  padding-left: 3px;
  padding-right: 3px;
}
.seekbar-background {
  background-color: #2b2b2c;
  border-color: #262529 #8c8f94 #9b9ba5 #4b4b53;
  border-width: 4px;
  box-sizing: border-box;
  border-style: solid;
  flex: 1;
  height: 25px;
  margin-right: 10px;
  color: #1d1d1d;
  display: flex;
}




#seekbar {
  width: 100%;
  appearance: none;
  border-radius: 0px;
  background: linear-gradient(
    to right,
    #0000ff 0%,
    #0000ff var(--progress),
    #4e4e4e var(--progress),
    #4e4e4e 100%
  );
  padding: 0;
  margin: 0
}

#seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  cursor: default;
}

#seekbar::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  cursor: default;
}



#time-display {
  background-color: #2b2b2c;
  border-color: #262529 #8c8f94 #9b9ba5 #4b4b53;
  border-width: 4px;
  box-sizing: border-box;
  border-style: solid;
  padding: 0 5px;
  text-align: center;
  font-size: 12px;
  height: 25px;
}



#choosefile input {
  padding: 0.5rem;
  background: #5a3434;
  border-radius: 0.35rem;
  border: 1px solid rgba(215, 99, 34, 0.78);
}


#choosefile,
#controls,
#chooseurl {
  margin-top: 1.9rem;
}


#demos>div .song,
#chooseurl>div .song {
  display: block;
  text-decoration: none;
  color: #4C4CBD;
}