@font-face {
  font-family: 'BlitzBold';
  src: url('Fonts/BlitzBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {

  margin: 0;
  padding: 0;
  background-color: #3e3a49; 
}


#loading-screen.hidden {
  display: none;
}

#open-btn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  position: fixed;
  top: 12px;
  left: 14px;
  font-size: 24px;
  padding: 5px 10px;
  cursor: pointer;
}

#close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  width: 250px;
  height: 100%;
  background: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  transform: translateX(-140%);
  transition: transform 0.3s ease;
  font-family: sans-serif;
}

#sidebar.show {
  transform: translateX(0);
}

#sidebar h2 {
  margin-top: 20px;
}

#sidebar ul {
  list-style: disc;
  padding: 0;
}

#sidebar ul li {
  margin: 10px 20px;
}

#sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
}

#main-content {
  font-family: sans-serif;
  text-align: center !important;
  padding: 40px;
  font-size: 20px;
  color: #ffffff;
}

#main-content h1 {
  font-family: 'BlitzBold';
  font-size: 50px;
  margin-bottom: 20px;
}

#main-content-links {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  color: #ffffff;
}

#main-content-links a {
  color: #fff;
  text-decoration: none;
}

#main-content-links a:hover {
  text-decoration: underline;
}