@font-face {
  font-family: 'abduction2002';
  src: url('/0scr/Fonts/abduction2002.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Header */
#header {
  color: #ffffff;
  display: flex;
  align-items: center; 
  justify-content: center;
  background: linear-gradient(#86878b, #58585e);
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1009;
  font-family: "abduction2002";            
  box-sizing: border-box;
  border-style: solid;       
  border-width: 6px;
  border-color: #bbbbc4 #55545e #3d3c42 #a7aaaf; 
}
#header button {
  background-color: #dcdcdc;
  border: 2px solid #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  padding: 6px 12px;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  color: black;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #555;
  cursor: pointer;
  font-family: 'abduction2002';
}
#header button:hover {
  background-color: #e9e9e9;
}
#header button:active {
  border-top-color: #888;
  border-left-color: #888;
  border-right-color: #fff;
  border-bottom-color: #fff;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #555;
}
#header button span {
  position: relative;
}
#header button:active span {
  top: 2px;
  left: 1px;
}

/* Header contents */


.github-logo {
  fill: #ffffff;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}
.open-sidebar {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  cursor: pointer;
}

/* Sidebar */
.close-sidebar {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100vh;
  background: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  transform: translateY(-140%);
  transition: transform 0.3s ease;
  font-family: abduction2002;
  font-size: 140%;
  z-index: 1005;
}

#sidebar.show {
  transform: translateX(0);
}

#sidebar h2 {
  margin-top: 20px;
}

#sidebar ul {
  list-style: disc;
  padding: 0;
}

#sidebar ul li {
  margin: 10px 10%;
}

#sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
}




@media (max-width: 980px) {
  #header {
    text-align: center;
    font-size: 30px;
    padding: 100px;
  }

  #my-github-logo svg {
    right: 12px;
    width: 80px;
    height: 80px;
  }

  #open-btn {
    font-size: 9cm;
    size: 100px;
    font-size: 3000px;
    width: 84px;      
    height: 90px;
  }

  #close-btn {
    background: none;
    border: none;
    color: #f30000;
    font-size: 100px;
    cursor: pointer;
    padding: 4%;
    }

  #sidebar {
    position: center;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #333;
    color: #fff;
    padding-left: 50px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(-140%);
    transition: transform 0.3s ease;
    font-family: sans-serif;
    font-size: 50px;
  }

  #sidebar.show {
    transform: translateX(0);
  }

  #sidebar h2 {
    margin-top: 20px;
  }

  #sidebar ul {
    list-style: disc;
    padding: 0;
  }

  #sidebar ul li {
    margin: 50px 10%;
  }

  #sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
  }
}